# Node dependencies
/node_modules/

# Build folders
/dist/
/out-tsc/
/tmp/
/bazel-out/
/.angular/cache/

# Logs
npm-debug.log*
yarn-error.log*
testem.log
libpeerconnection.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History folder (extension/plugin specific)
.history/*

# Sass & Typings
.sass-cache/
typings/

# Coverage reports
/coverage

# Screenshots or test outputs
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Optional local environments (API keys, secrets)
/src/environments/environment.local.ts
